/* Add New Client Button */
.add-client-btn {
    background-color: #3289f3; /* bg-blue-600 */
    color: white;
    padding: 0.75rem 1.5rem; /* px-6 py-3 */
    border-radius: 0.5rem; /* rounded-lg */
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
  }
  
  .add-client-btn:hover {
    background-color: #3977d4;
    transform: scale(1.01) 
  }
  
  
  /* Go to Admin Dashboard Button */
  .dashboard-btn {
    background-color: #3289f3; /* bg-blue-600 */
    color: white;
    padding: 0.75rem 1.5rem; /* px-6 py-3 */
    width: 12.5rem; /* w-50 */
    border-radius: 0.5rem; /* rounded-lg */
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
    margin-right: 1rem; /* mr-4 */
  }
  
  .dashboard-btn:hover {
    background-color: #3977d4; 
    transform: scale(1.01)
  }
  
  
  /* Logout Button */
  .logout-btn {
    background-color: #e02f2f; /* bg-red-600 */
    color: white;
    padding: 0.75rem 1.5rem; /* px-6 py-3 */
    width: 10rem; /* w-40 */
    border-radius: 0.5rem; /* rounded-lg */
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
  }
  
  .logout-btn:hover {
    transform: scale(1.01)
  }
  
