.container {
  background-color: #eaeef1;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.searchContainer {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  gap: 10px; /* Space between inputs and buttons */
}

.searchInput {
  border: 1px solid #ccc; /* Light border */
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
  /* border: none; */
  border-bottom: 1px;
  margin: 0 6px;
  padding: 11px 10px;
  width: fit-content;
  outline: none;
  font-size: 16px;
  color: #393e46;
}
.searchInput::placeholder {
  color: #999; /* Placeholder color */
  opacity: 1; /* Ensure full opacity */
  font-style: normal; /* Italic style for distinction */
}

.searchInput:focus {
  outline: none;
  border-color: #007bff; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Light shadow on focus */
  /* border-color: #3b82f6; */
}

.searchButton {
  background-color: #e4a915;
  color: white;
  padding: 0.75rem 1rem;
  border: none;
  font-size: 16px;
  /* border-radius: 0.375rem; */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background-color 0.3s, transform 0.2s;
  max-width: fit-content;
}

.searchButton:hover {
  /* background-color: #4ea2b1; */
  background-color: #fab403; /* Darker shade on hover */
  transform: scale(1.01);
}

.searchButton:active {
  transform: translateY(0); /* Return to original position on click */
}

.tableContainer {
  overflow-x: auto;
  max-height: 650px;
  position: relative;
  margin-bottom: 20px;
}
.tableResponsive {
  overflow-x: auto; /* Allows horizontal scrolling on small screens */
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  position: sticky;
  border: 1px solid #385785;
  padding: 0.75rem;
  text-align: center;
  max-width: 150px; /* Set max width as needed */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Fix for text overflow */
}

thead {
  position: sticky;
  top: 0cm;
  background-color: rgb(24, 17, 17); /* Or any color you prefer */
  z-index: 10; /* Ensure it stays above other content */
}

.table th {
  background-color: #68a0e4;
}

.table tbody tr:hover {
  background-color: #eeeae4;
}

.addressLink {
  color: #3b82f6;
  cursor: pointer;
}

.updateButton {
  background-color: #205ea8;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.updateButton:hover {
  background-color: hsl(113, 58%, 39%);
  transform: scale(1.02);
}

.deleteButton {
  background-color: #f70505;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: hsl(0, 90%, 27%);
  transform: scale(1.02);
}

.popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popupContent {
  background-color: rgb(102, 16, 16);
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .close-button {
  background: none;
  border: none;
  color: #ef4444;
  font-size: 1.5rem;
  cursor: pointer;
} */

.addressDetails {
  margin-top: 1rem;
  background-color: #f0f8ff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-item {
  border-bottom: 1px solid #e2e8f0; /* Light border for separation */
  padding: 8px 0; /* Vertical padding for items */
}

.detail-item:last-child {
  border-bottom: none; /* Remove border for last item */
}

strong {
  font-weight: 600; /* Make labels bold */
}

.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.totalPages {
  text-align: center;
  flex-grow: 1;
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  margin-right: 15px;
}

.pagination button {
  margin: 0 6px;
  padding: 8px 10px;
  background-color: #205ea8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  /* background-color: hsl(113, 58%, 39%); */
  transform: scale(1.02);
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.container {
  background-color: #eaeef1;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.searchContainer {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  gap: 10px; /* Space between inputs and buttons */
}

.searchInput {
  border: 1px solid #ccc; /* Light border */
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
  /* border: none; */
  border-bottom: 1px;
  margin: 0 6px;
  padding: 11px 10px;
  width: fit-content;
  outline: none;
  font-size: 16px;
  color: #393e46;
}
.searchInput::placeholder {
  color: #999; /* Placeholder color */
  opacity: 1; /* Ensure full opacity */
  font-style: normal; /* Italic style for distinction */
}

.searchInput:focus {
  outline: none;
  border-color: #007bff; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Light shadow on focus */
  /* border-color: #3b82f6; */
}

.searchButton {
  background-color: #e4a915;
  color: white;
  padding: 0.75rem 1rem;
  border: none;
  font-size: 16px;
  /* border-radius: 0.375rem; */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background-color 0.3s, transform 0.2s;
  max-width: fit-content;
}

.searchButton:hover {
  /* background-color: #4ea2b1; */
  background-color: #fab403; /* Darker shade on hover */
  transform: scale(1.01);
}

.searchButton:active {
  transform: translateY(0); /* Return to original position on click */
}

.tableContainer {
  overflow-x: auto;
  max-height: 650px;
  position: relative;
  margin-bottom: 20px;
}
.tableResponsive {
  overflow-x: auto; /* Allows horizontal scrolling on small screens */
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  position: sticky;
  border: 1px solid #385785;
  padding: 0.75rem;
  text-align: center;
  max-width: 150px; /* Set max width as needed */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Fix for text overflow */
}

thead {
  position: sticky;
  top: 0cm;
  background-color: rgb(24, 17, 17); /* Or any color you prefer */
  z-index: 10; /* Ensure it stays above other content */
}

.table th {
  background-color: #68a0e4;
}

.table tbody tr:hover {
  background-color: #eeeae4;
}

.addressLink {
  color: #3b82f6;
  cursor: pointer;
}

.updateButton {
  background-color: #205ea8;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.updateButton:hover {
  background-color: hsl(113, 58%, 39%);
  transform: scale(1.02);
}

.deleteButton {
  background-color: #f70505;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: hsl(0, 90%, 27%);
  transform: scale(1.02);
}

.popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popupContent {
  background-color: rgb(102, 16, 16);
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .close-button {
  background: none;
  border: none;
  color: #ef4444;
  font-size: 1.5rem;
  cursor: pointer;
} */

.addressDetails {
  margin-top: 1rem;
  background-color: #f0f8ff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-item {
  border-bottom: 1px solid #e2e8f0; /* Light border for separation */
  padding: 8px 0; /* Vertical padding for items */
}

.detail-item:last-child {
  border-bottom: none; /* Remove border for last item */
}

strong {
  font-weight: 600; /* Make labels bold */
}

.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.totalPages {
  text-align: center;
  flex-grow: 1;
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  margin-right: 15px;
}

.pagination button {
  margin: 0 6px;
  padding: 8px 10px;
  background-color: #205ea8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  /* background-color: hsl(113, 58%, 39%); */
  transform: scale(1.02);
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
